<h1>This here is where you log into your account, fella</h1>

<%= form_with url: sign_in_path do |form| %>
	<div>
		<%= form.label :username, "Username" %>
		<%= form.text_field :username %>
	</div>
	<div>
		<%= form.label :password, "Password" %>
		<%= form.password_field :password %>
	</div>

	<%= form.submit %>
<% end %>
