<h1>HELLO WELCOME TO TWERTY</h1>
<h3>you want twerts?</h3>

<% if session[:user_id].present? %>
	<%= User.find(session[:user_id]).username%>
<% end %>

<% if current_user.present? %>
	<div>
		<%= "#{current_user.firstname} #{current_user.lastname}" %>
	</div>

	<div>
		<%= form_with model: Twert.new(), url: twerts_path, method: :post do |form| %>
			<%= form.text_field :content, placeholder: "Type your twerty little thoughts here!" %>
			<%= form.submit %>
		<% end %>
	</div>

	<div>
		<%= link_to "The cooler log out \"button\"", logout_path, method: :delete %>
	</div>
<% else %>
	<div>
		<%= link_to "Log in!", login_path %>
	</div>
<% end %>

